@font-face {
  font-family:"Ubuntu";
  src: url("Ubuntu-Regular.ttf") format('truetype');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Harper-Bold";
  src: url("Harper-Bold Personal Use.otf");
  font-display: swap;
font-style: normal;
}