@tailwind base;
@tailwind components;
@tailwind utilities;

  
  body {
    font-family: 'Ubuntu' !important;
  }
  
  /* Apply TikTok Sans to all common text elements */
  
.logo{
  font-family: "Intel One Mono" !important;
}
.lta::first-letter{
  font-size: 40px;
}